@import "primarycolor";
@import "bgcolor";
@import "overskrift";
@import "undertitel";
@import "greybox";
@import "navcolor";

.glogo {
  width: 35%;
  height: auto;
  margin-left: 0%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.background{
  margin-left: 0%;
  margin-right: 0%;
  width:100%;
  background-color: $bgcolor;
}

.navbox {
  text-align: center;
  background-color:$navcolor;
  margin-bottom: 8%;
  width:100%;
  padding-top: 1.7%;
  padding-bottom: 1.7%;
}

.navbox a:hover{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: $primarycolor;
}

.parkour:hover, .graff:hover, .kultur:hover{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0.6;
}

.navbox a{
color:white;
  text-decoration: none;
  font-family: $undertitel;
  font-weight:bold;
  margin-left: 2%;
  margin-right:2%;
  font-size:0.6em;
}

.help {
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 0;

}
.parkour {
float:left;
height:100%;
width:50%;
margin-bottom: 10%;
}
.graff, .kultur {
height:50%;
width:50%;
}

.kultur {
  margin-bottom: 10%;
}

.purplebar {
background-color: $primarycolor;
margin-bottom: 8%;
width:100%;
padding-top:1%;
padding-bottom:1%;
border-color: black;
border-width:1px;
border-style:solid;
}

.toprow {
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
  display:flex;
  flex-direction: row;
}

.test2 {
  font-family:$overskrift;
  font-size: 0.39em;
  font-weight:bold;
  text-decoration: none;
  color:white;
}
.test{
  font-family:$overskrift;
  font-size: 0.39em;
  text-decoration: none;
  color:white;
}

.box1 {
width:20%;
margin-right: 2.5%;
margin-left: 2.5%;
}

.box2 {
width:20%;
margin-right: 2.5%;
margin-left: 2.5%;
}
.box3  {
width:20%;
margin-right: 2.5%;
margin-left: 2.5%;
}
.box4  {
width:20%;
margin-right: 2.5%;
margin-left: 2.5%;
}

.doublewrap {
  width:90%;
  height:auto;
  margin-left: 5%;
  margin-right:5%;
  border-color: black;
  border-width:1px;
  border-style:solid;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tilbyder
{
width:60%;
margin-top:3%;
margin-left: 20%;
margin-right:20%;
text-align: center;
background-color: white;
border-width:1px;
border-style:solid;
margin-bottom: 5%;
}

.tilbyder p
{
font-family: $undertitel;
font-size:90%;
}

footer p {
  color:white;
}
  footer{
	background-color: $navcolor;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 45px;
	margin-top: 80px;
}

footer, .links{
	list-style: none;
	font-weight: bold;
	padding: 35px 0 23px;
	margin: 0;
}

.links a{
	display:inline-block;
	text-decoration: none;
	color: white;
  font-size:110%;
  font-family: $overskrift;
}

.navn, .footslogan {
  color:darkgrey;
  font-size: 1em;
  font-family: $undertitel;
}

@media screen and (min-width: 490px) {

.links a{
  font-size:0.8em;
}
.tilbyder p
{
font-size:1.1em;
}
.test2 {
  font-size: 0.56em;
}
.test {
  font-size: 0.56em;
}
.navbox a{
font-size: 0.8em;
margin-left: 4%;
margin-right:4%;
}
.links {
  font-size:1.9em;
}
.navn, .footslogan {
  font-size: 1.3em;
}
}

@media screen and (min-width: 758px) {
.background {
  margin-left: 5%;
  margin-right: 5%;
  width:90%;
}
.glogo {
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.test2 {
  font-size: 0.75em;
}
.test {
  font-size: 0.75em;
}
.navbox a{
margin-left: 4%;
margin-right:4%;
font-size: 1.1em;
}

.tilbyder p
{
font-size:1.3em;
}
.links {
  font-size:2.5em;
}
.navn, .footslogan {
  font-size: 1.6em;
}
}

@media screen and (min-width: 900px) {
.navbox {
  font-size:1.2em;
}
.test2 {
  font-size: 0.9em;
}
.test {
  font-size: 0.9em;
}
.tilbyder p
{
font-size:1.5em;
}
}
