@import "primarycolor";
@import "bgcolor";
@import "overskrift";
@import "undertitel";
@import "greybox";
@import "navcolor";


h1 {
    font-family: 'Oswald', sans-serif;
  font-size: 72px;
  text-align: center;
}

h2{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 56px;
  color: black;
}

h3{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h4{
  font-family: 'Oswald', sans-serif;
}

body{
  background-color:  white;
}

/*
.greyBox1{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
*/

.AktivitetsBilleder{
  background-color: $greybox;
  margin: 5%;
  padding: 5%;
  img{
    margin: 0.5%;
    padding: 2px 2px 2px 2px;
    height: 220px;
    width: 320px;
  }

}

.SamfundsBilleder{
  background-color:  $greybox;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  padding: 5%;
  img{
      margin: 0.5%;
      padding: 2px 2px 2px 2px;
      height: 220px;
      width: 320px;
  }
}

/*------------------------------------------------------------------*/
/*logo*/

.glogo {
  width: 35%;
  height: auto;
  margin-left: 0%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.background{
  margin-left: 0%;
  margin-right: 0%;
  width:100%;
  background-color: $bgcolor;

}


/*
.glogo {
  width: 30%;
  height: auto;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}*/

/*-----------Navigations bar------------------*/


.navbox {
  text-align: center;
  background-color:$navcolor;
  margin-bottom: 8%;
  width:100%;
  padding-top: 1.7%;
  padding-bottom: 1.7%;
}
.navbox a:hover{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: $primarycolor;
}

.aktiviteter {
  color:$primarycolor;
  font-family: $undertitel;
  text-decoration: none;
  font-weight:bold;
  margin-left: 2%;
  margin-right:2%;
  font-size: 0.6em;
}
.nyheder, .information, .galleri, .kontakt{
  color:white;
  text-decoration: none;
  font-family: $undertitel;
  font-weight:bold;
  margin-left: 2%;
  margin-right:2%;
  font-size: 0.6em;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

/*Urban Dance Aktivitets siden*/

.timeBoxDance
{
  width: 80%;
  height: 300px;
  background-color: purple;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  p{
    font-size: 50px;
    text-align: center;
    color: white;
  }
}

.urbanDanceGrey{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  img{
    height: 420px;
    width: 580px;
  }
}

.DanceText{
 p{
   text-align: left;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 10%;
 }
}

/*Nedenfor er de individuelle Galleri sider*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Dance Galleri Sider*/

.DanceGalleri{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  img{
    height: 25%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

.DanceBilleder{
  margin: 5%;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*VoiceGalleri*/

.VoiceGalleri{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  img{
    height: 25%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

.VoiceBilleder{
    margin: 5%;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*ExplorerGalleri*/

.ExplorerGalleri{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  img{
    height: 25%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*EidGalleri*/

.ExplorerGalleri{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  img{
    height: 25%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}


/*.ExplorerBilleder{
  margin: 5%;
}*/

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*MusicGalleri*/

.MusicGalleri{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  img{
    height: 25%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

.MusicBilleder{
    margin: 5%;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/**/

/*----------------------------------------------------------------------------*/
/*Explorer Aktivitets Siden*/

.timeBoxExplorer
{
  width: 80%;
  height: 300px;
  background-color: purple;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  p{
    font-size: 40px;
    text-align: center;
    color: white;
  }
}

.urbanExplorerGrey{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  img{
    height: 25%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

.ExplorerText{
 p{
   text-align: left;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 10%;
 }
}

/*-----------------------------------------------------------------------------*/
/*Music aktivitets siden*/


.timeBoxMusic
{
  width: 80%;
  height: 300px;
  background-color: purple;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  p{
    font-size: 40px;
    text-align: center;
    color: white;
  }
}

.urbanMusicGrey{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  img{
    height: 420px;
    width: 580px;
  }
}

.MusicText{
 p{
   text-align: left;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 10%;
 }
}


/*----------------------------------------------------------------------------*/
/*Voice Aktivitets siden*/

.timeBoxVoice
{
  width: 80%;
  height: 300px;
  background-color: purple;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  p{
    font-size: 40px;
    text-align: center;
    color: white;
  }
}

.urbanVoiceGrey{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  img{
    height: 420px;
    width: 580px;
  }
}

.VoiceText{
 p{
   text-align: left;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 10%;
 }
}

/*---------------------------------------------------------------------------*/
/*Brandkadet aktivitets siden*/

.timeBoxBrandkadet
{
  width: 80%;
  height: 300px;
  background-color: purple;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  p{
    font-size: 50px;
    text-align: center;
    color: white;
  }
}

.BrandText1{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;

}

.BrandkadetGrey{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  img{
    height: 420px;
    width: 580px;
  }
}

.BrandkadetText{
 p{
   text-align: left;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 10%;
 }
}

/*----------------------------------------------------------------------------*/
/*Vejlednings Aktivitets siden*/


.VejledningText{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;

}

.VejledningGrey{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  img{
    height: 420px;
    width: 580px;
  }
}

.RådgivningText{
 p{
   text-align: left;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 10%;
 }
}


/*----------------------------------------------------------------------------*/
/*Fritid og Job aktiviteter*/


.JobText{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;

}

.JobGrey{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  img{
    height: 420px;
    width: 580px;
  }
}

.LommepengeText{
 p{
   text-align: left;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 10%;
 }
}

/*----------------------------------------------------------------------------*/
/*Familie Aktiviteter*/

.FamilieText{
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;

}

.FamilieGrey{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  img{
    height: 420px;
    width: 580px;
  }
}

.ForældreText{
 p{
   text-align: left;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 10%;
 }
}

.FeriestøtteText{
  p{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  }
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Overordnede Galleri side*/

.GalleriClass{
  background-color:$bgcolor;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  img{
    height: 25%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 5%;
  }
}

.GreyGalleri{
  background-color:$greybox;
  max-width: 90%;
  margin: 5%;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* den legendariske footer!*/

footer p {
  color:white;
}
  footer{
	background-color: $navcolor;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 45px;
	margin-top: 80px;
}
footer, .links{
	list-style: none;
	font-weight: bold;
	padding: 35px 0 23px;
	margin: 0;
}
.links a{
	display:inline-block;
	text-decoration: none;
	color: white;
  font-size:110%;
  font-family: $overskrift;
}
.navn, .footslogan {
  color:darkgrey;
  font-size: 1em;
  font-family: $undertitel;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Lilla markør til de forskellige sider*/

.familie:hover ,.vejledning:hover, .brand:hover, .job:hover{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0.6;
}

.music:hover ,.explorer:hover, .voice:hover, .dance:hover, .eidGal:hover{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0.6;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Media queries - Make it responsive!*/


@media screen and (min-width: 360px) {
.links a{
  font-size:0.8em;
}
.tilbyder p
{
font-size:1.1em;
}
.test2 {
  font-size: 0.56em;
}
.test {
  font-size: 0.56em;
}
.navbox a{
font-size: 0.8em;
margin-left: 4%;
margin-right:4%;
}
.links {
  font-size:1.9em;
}
.navn, .footslogan {
  font-size: 1.3em;
}
}

@media screen and (min-width: 758px) {
.background {
  margin-left: 5%;
  margin-right: 5%;
  width:90%;
}
.glogo {
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.navbox a{
margin-left: 4%;
margin-right:4%;
font-size: 1.1em;
}

.links {
  font-size:2.5em;
}
.navn, .footslogan {
  font-size: 1.6em;
}
}

@media screen and (min-width: 900px) {
.navbox {
  font-size:1.2em;
}
}

/**/
